<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.highq.qonverter">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ActCompare"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActMeasure"
            android:label="@string/title_activity_act_measure"
            android:parentActivityName=".ActCompare"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.highq.qonverter.ActCompare" />
        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="EnergyDB" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="eu.highq.qonverter.database.EnergyCarrier, eu.highq.qonverter.database.Category, eu.highq.qonverter.database.Unit, eu.highq.qonverter.database.Variant, eu.highq.qonverter.database.UnitAbbreviation" />

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="eu.highq.qonverter"
            android:exported="false" />

        <activity
            android:name=".ActItemSelect"
            android:label="@string/title_activity_item_selection"
            android:parentActivityName=".ActCompare"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.highq.qonverter.ActCompare"
                />
        </activity>




    </application>

</manifest>